## Preprocessing

In [101]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [102]:
# Drop the non-beneficial ID columns, 'EIN' (KEEP 'NAME'for this model).
application_df.drop(columns = ['EIN'], inplace=True)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [103]:
# Determine the number of unique values in each column.
for i in application_df.columns:
    print(i, len(application_df[i].unique()))

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [104]:
# Look at NAME value counts for binning
name_counts=application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [105]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
names_to_replace = list(name_counts[name_counts<300].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                              29662
PARENT BOOSTER USA INC                              1260
TOPS CLUB INC                                        765
UNITED STATES BOWLING CONGRESS INC                   700
WASHINGTON STATE UNIVERSITY                          492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC      408
PTA TEXAS CONGRESS                                   368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC        331
ALPHA PHI SIGMA                                      313
Name: NAME, dtype: int64

In [106]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [107]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts<600].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [108]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [109]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [110]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [111]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_PTA TEXAS CONGRESS,NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC,NAME_TOPS CLUB INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [112]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop('IS_SUCCESSFUL', axis=1)
y = application_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [113]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [114]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X.columns)
hidden_node1 = 100
hidden_node2 = 50
hidden_node3 = 25

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node1, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_28 (Dense)            (None, 100)               5200

 dense_29 (Dense)            (None, 50)                5050

 dense_30 (Dense)            (None, 25)                1275

 dense_31 (Dense)            (None, 1)                 26

=================================================================
Total params: 11551 (45.12 KB)
Trainable params: 11551 (45.12 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [115]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [116]:
# Create a callback that saves the model's weights every five epochs
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define checkpoints variables
os.makedirs('checkpoints/', exist_ok=True)
checkpoint_path= 'checkpoints/weights.{epoch}.hdf5'

# Create callback
callback = ModelCheckpoint(filepath=checkpoint_path,
                              verbose=1,
                              save_weights_only=True,
                              save_freq='epoch',
                              period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [117]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50,callbacks=[callback])

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.5367 - accuracy: 0.7304
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5218 - accuracy: 0.7425
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5185 - accuracy: 0.7427
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5164 - accuracy: 0.7442
Epoch 5/50
802/804 [============================>.] - ETA: 0s - loss: 0.5147 - accuracy: 0.7450
Epoch 5: saving model to checkpoints/weights.5.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5149 - accuracy: 0.7448
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5149 - accuracy: 0.7447
Epoch 7/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5142 - accuracy: 0.7455
Epoch 8/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5141 - accuracy: 0.7463
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5131 - accuracy: 0.7460
Epoch 10/50
794/804 [============================>.] - ETA: 0s - loss: 0.5120 - accuracy: 0.7478
Epoch 10: saving model to checkpoints/weights.10.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5120 - accuracy: 0.7481
Epoch 11/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5114 - accuracy: 0.7465
Epoch 12/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5111 - accuracy: 0.7478
Epoch 13/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5103 - accuracy: 0.7480
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5104 - accuracy: 0.7484
Epoch 15/50
802/804 [============================>.] - ETA: 0s - loss: 0.5095 - accuracy: 0.7502
Epoch 15: saving model to checkpoints/weights.15.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5096 - accuracy: 0.7500
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5090 - accuracy: 0.7478
Epoch 17/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5091 - accuracy: 0.7496
Epoch 18/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5082 - accuracy: 0.7492
Epoch 19/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5082 - accuracy: 0.7486
Epoch 20/50
801/804 [============================>.] - ETA: 0s - loss: 0.5077 - accuracy: 0.7489
Epoch 20: saving model to checkpoints/weights.20.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5078 - accuracy: 0.7489
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5073 - accuracy: 0.7494
Epoch 22/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5074 - accuracy: 0.7490
Epoch 23/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5070 - accuracy: 0.7488
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5069 - accuracy: 0.7506
Epoch 25/50
801/804 [============================>.] - ETA: 0s - loss: 0.5066 - accuracy: 0.7504
Epoch 25: saving model to checkpoints/weights.25.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5064 - accuracy: 0.7505
Epoch 26/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5064 - accuracy: 0.7497
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5063 - accuracy: 0.7514
Epoch 28/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5058 - accuracy: 0.7505
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5056 - accuracy: 0.7518
Epoch 30/50
800/804 [============================>.] - ETA: 0s - loss: 0.5056 - accuracy: 0.7507
Epoch 30: saving model to checkpoints/weights.30.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.5058 - accuracy: 0.7505
Epoch 31/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5052 - accuracy: 0.7509
Epoch 32/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5055 - accuracy: 0.7517
Epoch 33/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5049 - accuracy: 0.7508
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5049 - accuracy: 0.7507
Epoch 35/50
796/804 [============================>.] - ETA: 0s - loss: 0.5046 - accuracy: 0.7514
Epoch 35: saving model to checkpoints/weights.35.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5047 - accuracy: 0.7516
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5046 - accuracy: 0.7526
Epoch 37/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5039 - accuracy: 0.7510
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5042 - accuracy: 0.7529
Epoch 39/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5038 - accuracy: 0.7524
Epoch 40/50
799/804 [============================>.] - ETA: 0s - loss: 0.5041 - accuracy: 0.7526
Epoch 40: saving model to checkpoints/weights.40.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.5042 - accuracy: 0.7525
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5038 - accuracy: 0.7530
Epoch 42/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5036 - accuracy: 0.7513
Epoch 43/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5036 - accuracy: 0.7517
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5030 - accuracy: 0.7519
Epoch 45/50
804/804 [==============================] - ETA: 0s - loss: 0.5033 - accuracy: 0.7518
Epoch 45: saving model to checkpoints/weights.45.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5033 - accuracy: 0.7518
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5029 - accuracy: 0.7526
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5028 - accuracy: 0.7516
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5029 - accuracy: 0.7515
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5031 - accuracy: 0.7530
Epoch 50/50
797/804 [============================>.] - ETA: 0s - loss: 0.5027 - accuracy: 0.7524
Epoch 50: saving model to checkpoints/weights.50.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.5026 - accuracy: 0.7525

In [118]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5285 - accuracy: 0.7409 - 713ms/epoch - 3ms/step
Loss: 0.5284954905509949, Accuracy: 0.7408746480941772

In [119]:
# Export our model to HDF5 file
nn.save('HDF5_files/AlphabetSoupCharity_Optimization_3.h5')

/Users/marlablanco/Desktop/BCS_Class/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(